* {
    padding: 0;
    margin: 0;
}

/* 最外层有一个元素，不是 static 的，并且可以占满整个屏幕 */

div.site {
    /* 将定位设置成绝对定位，就可以 以最外层那个特殊元素 为坐标调整大小和位置*/
    height: 100%;
    width: 100%;
    position: absolute;

    /* 图片链接 */
    background-image: url(/static/image/background.png);
    /* 图片不重复 */
    background-repeat: no-repeat;
    /* 图片覆盖整个最外层的特殊元素，并且此元素不会收到浏览器伸缩的影响 */
    background-size: cover;
    /* 图片设置为居中对齐 */
    background-position: center;
}

div.site::before {
    content: "";
    display: table;
}