* {
  padding: 0;
  margin: 0;
  font-family: 'FiraCode', '微软雅黑';
  /* 实现英文自动换行 */
  word-break:break-all; 
}

.body {
  position: absolute;
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--body-bgc);
}

.article {
  width: var(--article-width);
  min-width: var(--article-min-width);
  background-color: var(--article-bgc);
  margin-top: var(--article-margin-top);
  margin-bottom: var(--article-margin-bottom);
  padding: var(--article-padding-top) var(--article-padding-right)
    var(--article-padding-bottom) var(--article-padding-right);
}

.h1 {
  margin-bottom: var(--h1-margin-bottom);
  margin-top: var(--h1-margin-top);
  font-size: var(--h1-font-size);
  letter-spacing: var(--h1-letter-spacing);
  color: var(--h1-font-color);
  font-weight: var(--h1-font-weight);
  line-height: var(--h1-line-height);
  text-align: var(--h1-text-align);
}

.h2 {
  font-size: var(--h2-font-size);
  letter-spacing: var(--h2-letter-spacing);
  margin-bottom: var(--h2-margin-bottom);
  margin-top: var(--h2-margin-top);
  color: var(--h2-font-color);
  font-weight: var(--h2-font-weight);
  line-height: var(--h2-line-height);
  text-align: var(--h2-text-align);
}

.h3 {
  font-size: var(--h3-font-size);
  letter-spacing: var(--h3-letter-spacing);
  margin-bottom: var(--h3-margin-bottom);
  margin-top: var(--h3-margin-top);
  color: var(--h3-font-color);
  font-weight: var(--h3-font-weight);
  line-height: var(--h3-line-height);
  text-align: var(--h3-text-align);
}

.h4 {
  font-size: var(--h4-font-size);
  letter-spacing: var(--h4-letter-spacing);
  margin-bottom: var(--h4-margin-bottom);
  margin-top: var(--h4-margin-top);
  color: var(--h4-font-color);
  font-weight: var(--h4-font-weight);
  line-height: var(--h4-line-height);
  text-align: var(--h4-text-align);
}

.h5 {
  font-size: var(--h5-font-size);
  letter-spacing: var(--h5-letter-spacing);
  margin-bottom: var(--h5-margin-bottom);
  margin-top: var(--h5-margin-top);
  color: var(--h5-font-color);
  font-weight: var(--h5-font-weight);
  line-height: var(--h5-line-height);
  text-align: var(--h5-text-align);
}

.h6 {
  font-size: var(--h6-font-size);
  letter-spacing: var(--h6-letter-spacing);
  margin-bottom: var(--h6-margin-bottom);
  margin-top: var(--h6-margin-top);
  color: var(--h6-font-color);
  font-weight: var(--h6-font-weight);
  line-height: var(--h6-line-height);
  text-align: var(--h6-text-align);
}

.p {
  display: block;
  color: var(--p-font-color);
  letter-spacing: var(--p-letter-spacing);
  font-size: var(--p-font-size);
  line-height: calc(var(--p-font-size) * var(--p-line-height));
  margin-bottom: var(--p-margin-bottom);
  margin-top: var(--p-margin-top);
  text-align: var(--p-text-align);
}

.strong {
  font-size: var(--strong-font-size);
  font-weight: var(--strong-font-weight);
  color: var(--strong-font-color);
  display: inline-block;
}

.em {
  font-size: var(--em-font-size);
  font-style: var(--em-font-style);
  color: var(--em-font-color);
  display: inline-block;
}

/* 下标 */
.sub {
  vertical-align: sub;
  font-size: var(--sub-font-size);
  display: inline-block;
}

/* 上标 */
.sup {
  vertical-align: super;
  font-size: var(--sup-font-size);
  display: inline-block;
}

/* 下划线 */
.ins {
  text-decoration: underline;
  /* 处于文字的下方，不会碰触文字 */
  text-underline-position: under;
  display: inline-block;
  text-decoration-color: var(--ins-text-decoration-color);
  text-decoration-thickness: var(--ins-text-decoration-thickness);
}

.del {
  text-decoration: line-through;
  text-decoration-color: auto;
  text-decoration-thickness: var(--del-text-decoration-thickness);
  display: inline-block;
}

.blockquote {
  display: block;
  background-color: var(--blockquote-bgc);
  border-left: var(--blockquote-border-left);
  padding: var(--blockquote-padding-top) var(--blockquote-padding-right)
    var(--blockquote-padding-bottom) var(--blockquote-padding-left);
  margin-bottom: var(--blockquote-margin-bottom);
  margin-top: var(--blockquote-margin-top);
}

.blockquote > *:last-child {
  margin-bottom: 0;
}

.blockquote > *:first-child {
  margin-top: 0;
}

.blockquote > .p {
  display: block;
  color: var(--blockquote-font-color);
  font-size: var(--blockquote-font-size);
}

.blockquote > * {
  color: var(--blockquote-font-color);
}

.blockquote .strong {
  font-size: var(--blockquote-strong-font-size);
  color: var(--blockquote-strong-font-color);
}

.blockquote .em {
  font-size: var(--blockquote-em-font-size);
  color: var(--blockquote-em-font-color);
}

.li {
  display: flex;
}

.liIcon {
  /* 不能允许文本复制 */
  -moz-user-select: none; /* Firefox私有属性 */
  -webkit-user-select: none; /* WebKit内核私有属性 */
  -ms-user-select: none; /* IE私有属性(IE10及以后) */
  -khtml-user-select: none; /* KHTML内核私有属性 */
  -o-user-select: none; /* Opera私有属性 */
  user-select: none; /* CSS3属性 */

  display: block;
  width: var(--li-icon-size);
  height: var(--li-icon-size);

  background-color: var(--li-icon-bgc);

  margin-right: var(--li-icon-margin-right);
  margin-left: var(--li-icon-margin-left);

  color: var(--li-icon-font-color);
  text-align: center;
  line-height: var(--li-icon-line-height);
  font-size: var(--li-icon-font-size);

  /* flex 布局时，可能会出现拥挤导致的固定宽度的盒子被挤小的问题，需要设置伸缩比率为 0，让它不伸缩 */
  flex-shrink: 0;
}

.liContent {
  display: block;
  margin-bottom: var(--li-margin-bottom);
}

.liContent > .p {
  line-height: var(--li-font-height);
  font-size: var(--li-font-size);
  color: var(--li-font-color);
}

.ol,
.ul {
  margin-top: var(--ol-ul-margin-top);
  margin-bottom: var(--ol-ul-margin-top);
}

.ol > .li:last-child > .liContent {
    margin-bottom: 0;
    padding: 0;
}

.ul > .li:last-child > .liContent {
    margin-bottom: 0;
    padding: 0;
}

.liContent > *:last-child {
    margin-bottom: 0;
}

.liContent > *:first-child {
    margin-top: 0;
    padding-top: 0;
}

.nextLine {
  height: var(--nextLine-height);
}

.ulSolidRound {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ulSolidRound::before {
  box-sizing: border-box;
  display: block;
  content: "";
  width: var(--ulSolidRound-size);
  height: var(--ulSolidRound-size);
  border-radius: 50% 50% 50% 50%;
  background-color: var(--ulSolidRound-color);
}

.ulHollowRound {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ulHollowRound::before {
  box-sizing: border-box;
  display: block;
  content: "";
  width: var(--ulHollowRound-size);
  height: var(--ulHollowRound-size);
  border-radius: 50% 50% 50% 50%;
  border: var(--ulHollowRound-border-weight) solid var(--ulHollowRound-color);
}

.ulSolidSquare {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ulSolidSquare::before {
  box-sizing: border-box;
  display: block;
  content: "";
  width: var(--ulSolidSquare-size);
  height: var(--ulSolidSquare-size);
  background-color: var(--ulSolidSquare-color);
}

.ulHollowSquare {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ulHollowSquare::before {
  box-sizing: border-box;
  display: block;
  content: "";
  width: var(--ulHollowSquare-size);
  height: var(--ulHollowSquare-size);
  border: var(--ulHollowSquare-border-weight) solid var(--ulHollowSquare-color);
}

.code {
  display: inline-block;
  box-sizing: border-box;
  background-color: var(--code-bgc);
  padding-left: var(--code-padding);
  padding-right: var(--code-padding);
  font-family: var(--code-font-family);
  transform: var(--code-small);
  border-radius: var(--code-border-radius) var(--code-border-radius)
    var(--code-border-radius) var(--code-border-radius);
}

.a {
  display: inline-block;
  color: var(--a-font-color);
  text-decoration: underline;
  text-underline-position: below;
}

.a:hover {
  color: var(--a-hover-font-color);
}

.img {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  width: 100%;
  max-width: 100%;
  margin-top: var(--img-margin-top);
  margin-bottom: var(--img-margin-bottom);
}

.line {
  display: block;
  background-color: var(--line-color);
  margin-bottom: var(--line-margin-bottom);
  margin-top: var(--line-margin-top);
  width: 100%;
  height: var(--line-size);
}

.table {
  max-width: 100%;
  margin-top: var(--margin-start-end);
  margin-bottom: var(--margin-start-end);
}

.tr {
  display: flex;
  max-width: 100%;
}

.th, .tb {
  padding: 5px;
  border-left: var(--table-line-weight) var(--table-line-style) var(--table-line-color);
  border-bottom: var(--table-line-weight) var(--table-line-style) var(--table-line-color);
}

.tr:first-child > * {
  border-top: var(--table-line-weight) var(--table-line-style) var(--table-line-color);
}

.tr > *:last-child {
  border-right: var(--table-line-weight) var(--table-line-style) var(--table-line-color);
}


.th, .tb {
  display: flex;
  align-items: center;
}

.tr {
  background-color: var(--tr-bgc);
}

.tr:hover {
  background-color: var(--tr-hover-bgc);
  transition: all 400ms;
}
/* .th:hover {
  background-color: var(--th-hover-bgc);
  transition: all 400ms;
}
.tb:hover {
  background-color: var(--tb-hover-bgc);
  transition: all 400ms;
} */

.th {
  color: var(--th-font-color);
  font-weight: var(--th-font-weight);
  font-size: var(--th-font-size);
  background-color: var(--th-bgc);
}

.tb {
  color: var(--tb-font-color);
  font-weight: var(--tb-font-weight);
  font-size: var(--tb-font-size);
  background-color: var(--tb-bgc);
}

.trSonContent {
  width: 100%;
}

.admonition {
  margin-top: var(--margin-start-end);
  margin-bottom: var(--margin-start-end);
  width: 100%;
  display: block;
  display: flex;
  flex-direction: column;
  border: var(--admonition-border);
  border-radius: var(--admonition-border-radius);
}

.admonition > .title {
  display: flex;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 0;
  border-radius: var(--admonition-border-radius) var(--admonition-border-radius) 0 0;
  background-color: var(--admonition-title-bgc);
}

.admonition > .title > .content {
  flex-grow: 1;
}

.admonition > .title > .content > *:first-child {
  padding-top: 0;
  margin-top: 0;
}
.admonition > .title > .content > *:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

.admonition > .title > .icon, .admonition > .title > .button {
  /* 不允许占用剩余空间 */
  flex-grow: 0;
  /* 不允许空间不足时自动压缩 */
  flex-shrink: 0; 
  width: var(--admonition-title-icon-width);
  height: var(--admonition-title-icon-height);
  margin-top: calc((var(--p-font-size) * var(--p-line-height) - var(--admonition-title-icon-width)) / 2);
}

.admonition > .title > .icon {
  margin-right: 5px;
}
.admonition > .title > .button {
  margin-left: 10px;
  transition: all 250ms;
}

.admonition > .content {
  overflow: hidden;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--admonition-content-bgc);
  border-top: 0;
  border-radius: 0 0 var(--admonition-border-radius) var(--admonition-border-radius);
}

.admonition > .content > *:first-child {
  padding-top: 0;
  margin-top: 0;
}
.admonition > .content > *:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

.admonition.note {
  background-color: var(--admonition-note-color);
  border-color: var(--admonition-note-color);
}

.admonition.abstract {
  background-color: var(--admonition-abstract-color);
  border-color: var(--admonition-abstract-color);
}

.admonition.info {
  background-color: var(--admonition-info-color);
  border-color: var(--admonition-info-color);
}

.admonition.tip {
  background-color: var(--admonition-tip-color);
  border-color: var(--admonition-tip-color);
}

.admonition.success {
  background-color: var(--admonition-success-color);
  border-color: var(--admonition-success-color);
}

.admonition.question {
  background-color: var(--admonition-question-color);
  border-color: var(--admonition-question-color);
}

.admonition.warning {
  background-color: var(--admonition-warning-color);
  border-color: var(--admonition-warning-color);
}

.admonition.failure {
  background-color: var(--admonition-failure-color);
  border-color: var(--admonition-failure-color);
}

.admonition.danger {
  background-color: var(--admonition-danger-color);
  border-color: var(--admonition-danger-color);
}

.admonition.bug {
  background-color: var(--admonition-bug-color);
  border-color: var(--admonition-bug-color);
}

.admonition.example {
  background-color: var(--admonition-example-color);
  border-color: var(--admonition-example-color);
}

.admonition.quote {
  background-color: var(--admonition-quote-color);
  border-color: var(--admonition-quote-color);
}

.codeBlock pre code {
  border-radius: 8px;
}

.codeBlock {
  margin-top: var(--margin-start-end);
  margin-bottom: var(--margin-start-end);
}